.project-title {
  font-size: clamp(2.1rem, 4vw, 3.25rem);
  font-weight: 400;
  line-height: normal;
}

.startup-project-text img{
  max-width: 100%;
  height: auto;
}

.repo-cards-div-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem 1rem;
}

/* Media Query */
@media (max-width: 1380px) {
  .project-title {
    font-size: clamp(2rem, 3vw, 2.75rem);
  }
}
@media (max-width: 768px) {
  .project-title {
    font-size: clamp(1.75rem, 7vw, 2.5rem);
    text-align: center;
  }
  .repo-cards-div-main{
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}