.blog-main-div > * {
  flex: 1;
  margin-bottom: 0;
}
.blog-main-div {
  display: flex;
}
.blog-image-div > img {
  max-width: 100%;
  height: auto;
}
.blog-view-all-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.blog-view-all-wrapper .main-button {
  margin-right: 0;
}
